EXPO_PUBLIC_API_URL=https://example.com

API_KEY=la-firebase-api-key
AUTH_DOMAIN=el-project.firebaseapp.com
PROJECT_ID=el-project-id
STORAGE_BUCKET=el-project.firebasestorage.app
MESSAGING_SENDER_ID=el-messaging-sender-id
APP_ID=el-app-id
