EXPO_PUBLIC_API_URL=https://example.com

API_KEY=AIzaSyB0DbazAzJFo8lz5-KGmf1jS4thNaZSWAM
AUTH_DOMAIN=evaluacionfirebase-b0dc6.firebaseapp.com
PROJECT_ID=evaluacionfirebase-b0dc6
STORAGE_BUCKET=evaluacionfirebase-b0dc6.firebasestorage.app
MESSAGING_SENDER_ID=821823770610
APP_ID=1:821823770610:web:45d240da1cad5852e2656b
